*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-weight: bold;
}
button {
    border: none;
    border-radius: 8px;
    height: 50px;
    background-color: rgb(12, 156, 12);
    color: white;
    width: 200px;
    font-size: 25px;
    cursor: pointer;
}

#mainView{
    border: 1px solid rgb(194, 192, 192);
    border-radius: 8px;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    text-align: center;    
}
#startBtn{
    margin: 300px;
    background-color: rgb(45, 45, 247);
}
#gameView{
    border: 1px solid rgb(194,192,192);
    border-radius: 8px;
    width: 60%;
    margin: auto;
    margin-top: 25px;
    text-align: center; 
    display: none;
}
#counter1{
    background-color: rgb(173, 7, 7);
    border-radius: 5px;
    position: absolute;
    font-size: 50px;
    color: white;
    padding: 10px;
}
#counter2{
    background-color: rgb(173, 7, 7);
    border-radius: 5px;
    position: absolute;
    font-size: 50px;
    color: white;
    padding: 10px;
}
#heading{
    border-bottom: 1px solid rgb(194, 192, 192);
    padding: 25px;
}
#gameBody{
    display: flex;
}
.gameDiv{
    width: 100%;
    height: 100%;
    margin: auto;
    border-left: 1px solid rgb(194, 192, 192);
}
.name {
    margin: 30px;
}
.score{
    font-size: 100px;
    padding: 100px;
}

.btnDisabled{
    background-color: rgb(221, 172, 13);
    cursor: not-allowed;
}
#rolle1Btn{
    margin: 60px;
}
#rolle2Btn{
    margin: 60px;
}
#footer{
    display: none;
    background-color: rgb(221, 172, 13);
    color: white;
    padding: 25px;
    border-radius: 5px;
    cursor: pointer;
}